//
//  Secrets.xcconfig
//  LeBaluchon
//
//  Created by Ernesto Elias Aquino Cifuentes on 02/05/2022.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

API_KEY = e9ef236194e10da371830069d966cc91
WEATHER_API_KEY = 815a779aab708d28663fbf4eaaf74c7f
TRANSLATOR_API_KEY = AIzaSyC9DahFwVoDYphW78uiaVuqO-erO4bc-ls
